{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
<html>
<head>
<title>
  {% block head_title %}
    {% if recipe.name %}
      {{ recipe.name }} - Edit
    {% else %}
      New Recipe
    {% endif %}
  {% endblock %}
</title>
</head>
<body>
{% block content %}

{% for message in messages %}
  {% if message.tags == 'error' %}
    <p style="color:red; font-weight:bold;">{{ message }}</p>
  {% elif message.tags == 'info' %}
    <p style="color:black; font-weight:bold;">{{ message }}</p>
  {% endif %}
{% endfor %}

{% if recipe.name %}
  <div class="hero-unit"><h1>{{ recipe.name }}</h1></div>
  <hr>
  <div class="hero-unit"><h2>Add Ingredient</h2></div>
  <div class="">
    <form method="POST" action="" class="form">
      {% csrf_token %}
      {{ ingredient_form.id }}
      {{ ingredient_form.name }}<br>
      {{ ingredient_form.amount }}<br>
      {{ ingredient_form.unit }}<br>
      {{ ingredient_form.comment }}
      <p>
        <input class="button" type="submit" value="Save Ingredient" id="submit"/>
      </p>
    </form>
  </div>
  <div style="clear:both;"></div>
  <hr>

  <div class="hero-unit"><h2>Edit Ingredients</h2></div>
  <div class="ingredients">
  {% for ingredient in recipe.ingredient_set.all %}
    <div class="ingredient_block">
      <div class="ingredient_details">
        {{ ingredient.amount|show_integer }}{{ ingredient.amount|show_fraction }}
        {{ ingredient.unit }}
        {{ ingredient.name }}{% if ingredient.comment %}, {{ ingredient.comment }}
        {% endif %}
        <a class="right_tab_button" href="{% url 'menu:edit_ingredient' ingredient.id %}">&#x270D;</a>
        <a class="right_tab_button" href="{% url 'menu:move_ingredient_up' ingredient.id %}">&#x25B2;</a>
        <a class="right_tab_button" href="{% url 'menu:move_ingredient_down' ingredient.id %}">&#x25BC;</a>
      </div>
    </div>
  {% endfor %}
  </div>
  <div style="clear:both;"></div>
{% else %}
  <div class="hero-unit"><h1>New Recipe</h1></div>
{% endif %}
<hr>

<div class="form-container-wrapper">
  <form class="form-container" method="POST" action="" name="recipe_form">
    <div class="form-title"><h2>Edit Recipe Details</h2></div>
    {% csrf_token %}
    {{ form.name.label }}<br>{{ form.name }}<br>
    {{ form.description.label }}<br>{{ form.description }}<br>
    {{ form.pinned.label }}<br>{{ form.pinned }}<br>
    {{ form.cook_method.label }}<br>{{ form.cook_method }}<br>
    {{ form.dish_type.label }}<br>{{ form.dish_type }}<br>
    {{ form.temperature.label }}<br>{{ form.temperature }}<br>
    {{ form.prep_time.label }}<br>{{ form.prep_time }}<br>
    {{ form.cook_time.label }}<br>{{ form.cook_time }}<br>
    {{ form.servings.label }}<br>{{ form.servings }}<br>
    {{ form.directions.label }}<br>{{ form.directions }}<br>
    {{ form.source.label }}<br>{{ form.source }}<br>
    <div class="submit-container">
      <input class="submit-button" type="submit" value="Update &raquo;"/>
    </div>
  </form>
</div>

{% endblock %}
</body>

<script type="text/javascript" src="{% static 'menu/js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script>

</html>
