{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
<script type="text/javascript" src="{% static 'menu/js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script>

<html>
    <body>
        {% block title %}
            <div id="title">
                Edit: {{ recipe.name }}
            </div>
        {% endblock %}
        {% block content %}
            <div id="aside">
                <h2>Edit Ingredients</h2>
                <input type=submit value="Update Ingredients" id="submit">
                <a class="button" href="{% url 'menu:recipedetails' recipe.id %}">Cancel</a>
                <hr noshade>

                <form action="{% url 'menu:updateingredient' recipe.id %}" method="post">
                {% csrf_token %}
                    <h4>Current Ingredients</h4>
                        {% for i in recipe.ingredient_set.all %}
                            <ul>
                                <li id="nospace">{{ i.name }}, {{ i.amount }}, {{ i.unit }}</li>
                            </ul>
                        {% endfor %}
                    <p><a class="button" href="{% url 'menu:addingredient' recipe.id %}" method="post">Add new ingredient</a></p>
                    {% for i in recipe.ingredient_set.all %}
                        <fieldset name = "{{i.id}},ingredients">
                            <legend><a class="button" id="delete" href="{% url 'menu:deleteingredient' i.id %}" onclick="return confirm('Are you sure?')">Delete this ingredient</a></legend>
                            <input type=text value="{{ i.name }}" name="{{i.id}},name">
                            <input type=text value="{{ i.amount }}" name="{{i.id}},amount">
                            <input type=text value="{{ i.unit}}" name="{{i.id}},unit">
                            <input type=text value="{{ i.comment|default_if_none:'' }}" name="{{i.id}},comment">
                            <input type=text value="{{ i.sorting|default_if_none:i.id }}" name="{{i.id}},sorting">
                        </fieldset>
                    {% endfor %}
                    <div id="ingredients"></div>
                    <p><a class="button" href="{% url 'menu:addingredient' recipe.id %}" method="post">Add new ingredient</a></p>
                    <br>
                    <input type=submit value="Update Ingredients" id="submit">
                    <a class="button" href="{% url 'menu:recipedetails' recipe.id %}">Cancel</a>
                </form>
            </div>
            <!--{% include "menu/recipedetailsrecipe.html" %}-->
        {% endblock %}
    </body>
</html>
