{% load staticfiles %}
{% load menu_extras %}
{% include "menu/stylesheets.html" %}
<script type="text/javascript" src="{% static 'menu/js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div id="title">
    In the Fridge
</div>
<div id="content">
    <div>
        <a class="button" id="nav" href="{% url 'menu:index' %}">Back to Recipe List</a>
    </div><div style="clear:both"></div>
    <hr noshade><hr noshade>


    <form method="POST" action="">
    {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}
            <hr noshade>
        {% endfor %}
        <hr noshade>
        <input type="submit" value="Update" id="submit"/>
    </form>
</div>
