{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}

<html>
<body>
{% block title %}
    <div id="title"></div>
{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>Recipe List!</h1>
</div>
<div class="row-fluid">
    {% for recipe in recipes %}
        <div class="span4">
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.directions }}</p>
            <p><a class="btn" href="{% url 'menu:recipedetails' recipe.id %}">View recipe details &raquo;</a></p>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>
