{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
{% load markdown_deux_tags %}

<html>
<body>
{% block title %}
    <div id="title"></div>
{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>Top Rated Recipes</h1>
</div>
{% for recipe in top10recipes %}
    <div class="row-fluid">
        <div class="span12">
            <h3 class="centered">{{ recipe.name }}</h3>
            {% if recipe.banner_image|length > 0 %}
                <img src="{{ recipe.banner_image }}">
            {% endif %}
            <p>
                {% if recipe.description|length > 0 %}
                    {% markdown %}
                        {{ recipe.description }}
                    {% endmarkdown %}
                {% endif %}
            </p>
            <p>Published: {{ recipe.publish_date }}</p><br>
            <p><a class="btn" href="{% url 'menu:recipedetails' recipe.id %}">View recipe details &raquo;</a></p>
            <hr>
        </div>
    </div>
{% endfor %}
{% endblock %}
</body>
</html>
