{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
{% load markdown_deux_tags %}

<html>
<body>
{% block title %}
    <div id="title"></div>
{% endblock %}
{% block content %}
<div class="hero-unit">
    <h1>Recipe List!</h1>
</div>
{% for recipe in recipes %}
    <div class="row-fluid">
        <div class="span12">
            <h3 class="centered">{{ recipe.name }}</h3>
            {% if recipe.bannerImage|length > 0 %}
                <img src="{{ recipe.bannerImage }}">
            {% endif %}
            <p>
                {% if recipe.description|length > 0 %}
                    {% markdown %}
                        {{ recipe.description }}
                    {% endmarkdown %}
                {% endif %}
            </p>
            Published: {{ recipe.publishDate }}<br><br>
            <p><a class="btn" href="{% url 'menu:recipedetails' recipe.id %}">View recipe details &raquo;</a></p>
            <hr>
        </div>
    </div>
{% endfor %}
{% endblock %}
</body>
</html>
