{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
{% if user.is_superuser %}

<div class="container-fluid">
    <button type="button" class="btn" data-toggle="collapse" data-target=".newpost-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="newpost-collapse collapse">
        <form method="POST" action="">
            {% csrf_token %}
            Name<br>{{ recipe_form.name }}<br>
            Description{{ recipe_form.description }}<br><br>
            Check to publish: {{ recipe_form.published }}<br><br>
            Category<br>{{ recipe_form.category }}<br><br>
            Dish Type<br>{{ recipe_form.dish_type }}<br><br>
            Temperature<br>{{ recipe_form.temperature }}<br><br>
            Prep Time (minutes)<br>{{ recipe_form.prep_time }}<br><br>
            Cook Time (minutes)<br>{{ recipe_form.cook_time }}<br><br>
            Servings<br>{{ recipe_form.servings }}<br><br>
            Directions<br>{{ recipe_form.directions }}<br><br>
            URL<br>{{ recipe_form.source }}<br><br>
            Image URL<br>{{ recipe_form.banner_image }}<br><br>
            <p>
                <input class="btn" type="submit" value="Post &raquo;"/>
            </p>
        </form>
    </div>
</div>

<hr noshade>
<hr noshade>

<h3>Your Recipes</h3>
<div class="row-fluid">
    <div class="span12">
        {% for recipe in recipes %}
            <p><b>{{ recipe.name }} |</b>
            {% if recipe.published %}
                <span style="color:lightgreen; font-weight:bold">Published</span> |
            {% else %}
                <span style="color:lightgray; font-weight:bold">Draft</span> |
            {% endif %}
            {{ recipe.category }} |
            {{ recipe.publish_date }} |
                <a class="btn" href="{% url 'menu:edit_recipe' recipe.id %}">Edit Recipe &raquo;</a>
            {% if recipe.published %}
                <a class="btn" href="{% url 'menu:recipe_details' recipe.id %}">View Recipe &raquo;</a>
            {% endif %}
                <hr noshade>
        {% endfor %}

    </div><!--/span-->
</div><!--/row-->

<hr noshade>
<hr noshade>
{% endif %}

<h3>Your Comments</h3>
<div class="row-fluid">
    <div class="span12">
        {% for comment in comments %}
            <p><b>{{ comment.blog.title }} |</b>
            {{ comment.publishDate }}<br>
            {{ comment.comment }}
        {% endfor %}
    </div><!--/span-->
</div><!--/row-->

{% endblock %}

{% block navsidebar %}
{% endblock %}
