{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
{% if user.is_superuser %}

<h3>Your Recipes</h3>
<div class="row-fluid">
    <div class="span12">
        {% for recipe in recipes %}
            <p><b>{{ recipe.name }} |</b>
            {{ recipe.cook_method }} |
            {{ recipe.publish_date }} |
                <a class="btn" href="{% url 'menu:edit_recipe' recipe.id %}">&#x270D;</a>
            {% if recipe.published %}
                <a class="btn" href="{% url 'menu:recipe_details' recipe.id %}">&raquo;</a>
            {% endif %}
                <hr noshade>
        {% endfor %}

    </div><!--/span-->
</div><!--/row-->

<hr noshade>
{% endif %}

<h3>Your Comments</h3>
<div class="row-fluid">
    <div class="span12">
        {% for comment in comments %}
            <p><b>{{ comment.recipe.name }} |</b>
            {{ comment.publishDate }}<br>
            {{ comment.comment }}
        {% endfor %}
    </div><!--/span-->
</div><!--/row-->

{% endblock %}

{% block navsidebar %}
{% endblock %}
