{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
{% load markdown_deux_tags %}

<html>
<body>
{% block title %}
{% endblock %}

{% block content %}

<div class="hero-unit">
    <h1>{{ recipe.name }}</h1>
</div>


<div class="new_post_block" onclick="location.href='{% url 'menu:add_recipe' %}'">
    <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
        <a class="btn-floating btn-large red">
            <f class="large material-icons">+</f>
        </a>
    </div>
</div>

<div class="recipe_header gray_background">
    <div class="recipe_description">
        {% if recipe.description|length > 0 %}
            {% markdown %}
                {{ recipe.description }}
            {% endmarkdown %}
        {% endif %}
    </div>

    <div class="recipe_info">
        <ul>
            <li><b>Cook Method</b>: {{ recipe.get_cook_method_display }}</li>
            <li><b>Dish Type</b>: {{ recipe.get_dish_type_display }}</li>
            <li><b>Temp</b>: {{ recipe.temperature }}</li>
            <li><b>Prep Time</b>:
                {% if recipe.prep_time < 60 %}
                    {{ recipe.prep_time }} minute(s)</li>
                {% else %}
                    {{ recipe.prep_time|minutes_to_hours|floatformat:"1" }} hour(s)
                {% endif %}
            <li><b>Cook Time</b>:
                {% if recipe.cook_time < 60 %}
                    {{ recipe.cook_time }} minute(s)
                {% else %}
                    {{ recipe.cook_time|minutes_to_hours|floatformat:"1" }} hour(s)
                {% endif %}
            </li>
            <li><b>Servings</b>: {{ recipe.servings }}</li>
            {% if user.is_superuser %}
                <br><li><a class="btn" target="_blank" href="{{ recipe.source }}">GoTo Recipe Source</a></li>
            {% endif %}
        </ul>
    </div>
    <div style="clear:both;"></div>
</div>

{% include "menu/recipe_details_ingredients.html" %}
<hr>
<div class="row-fluid">
    <div class="span9">
        <h3>Directions</h3>
        {% if user.is_superuser %}
            <a class="btn" href="{% url 'menu:edit_recipe' recipe.id %}">&#x270D;</a><br>
        {% endif %}
        <br>
        {% markdown %}
            {{ recipe.directions | safe }}
        {% endmarkdown %}
    </div>
</div>
<hr>
<div class="row-fluid">
    <h3>Notes</h3>
    {% if user.is_authenticated %}
        <div id="comments"></div>
        <form action="" method="post">
        {% csrf_token %}
            {{ comment_form.comment }}<br>
            <input type=submit class="btn" value="Save &raquo;"/>
        </form>
        <br><br><hr>
    {% else %}
        You must be logged in to comment or rate.<br>
        <a href="{% url 'login' %}">Login</a>
        <hr>
    {% endif %}

    {% if recipe.comment_set.all %}
        {% for c in recipe.comment_set.all %}
            <ul class="unstyled">
                <li>{{ c.comment }}</li>
                <li>{{ c.publishDate }}</li>
            </ul>
            {% if user.is_superuser %}
                <a class="btn" href="{% url 'menu:comment_delete' c.id %}"
                   onclick="return confirm('Are you sure?')">&#x2718;</a>
            {% endif %}
            <hr>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
</body>
</html>
