{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}

{% load markdown_deux_tags %}
<script type="text/javascript" src="{% static 'menu/js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script>

<html>
<body>
{% block title %}
{% endblock %}

{% block content %}

    <div class="hero-unit">
        <h1>{{ recipe.name }}</h1>
    </div>
    {% if recipe.description|length > 0 %}
        {% markdown %}
            {{ recipe.description }}
        {% endmarkdown %}
    {% endif %}
    <div class="row-fluid">
        <div class="span4">
            {% include "menu/recipedetailsingredients.html" %}
        </div>
    </div>
    <br><br><hr>
    <div class="row-fluid">
        <div class="span9">
            {% include "menu/recipedetailsrecipe.html" %}
        </div>
    </div>
    <br><br><hr>
    <div class="row-fluid">
        <div class="span9">
            <div id="comments"></div>
            <h3 class="nav-header">Add Comment</h3>
            <form action="{% url 'menu:addcomment' recipe.id %}" method="post">
            {% csrf_token %}

                <textarea name="comment" ROWS=6 COLS=15></textarea><br><br>
                <input type=submit class="btn" value="Publish Comment"/>
            </form>
            <br><br><hr>
            {% if recipe.comment_set.all %}
                <h3>Comments</h3>
                {% for c in recipe.comment_set.all %}
                    <ul class="unstyled">
                        <li>{{ c.comment }}</li>
                        <li>{{ c.publishDate }}</li>
                        {% if user.is_superuser %}
                            <a class="btn" href="{% url 'menu:commentdelete' c.id %}" onclick="return confirm('Are you sure?')">Delete</a>
                        {% endif %}
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block navsidebar %}
<div class="span3">
    <div class="well sidebar-nav">
        <ul>
            <li><b>Category</b>: {{ recipe.category }}</li>
            <li><b>Temp</b>: {{ recipe.temperature }}</li>
            <li><b>Prep Time</b>:
                {% if recipe.prepTime < 60 %}
                    {{ recipe.prepTime }} minute(s)</li>
                {% else %}
                    {{ recipe.prepTime|minutestohours|floatformat:"1" }} hour(s)
                {% endif %}
            <li><b>Cook Time</b>:
                {% if recipe.cookTime < 60 %}
                    {{ recipe.cookTime }} minute(s)
                {% else %}
                    {{ recipe.cookTime|minutestohours|floatformat:"1" }} hour(s)
                {% endif %}
            </li>
            <li><b>Servings</b>: {{ recipe.servings }}</li>
            {% if user.is_superuser %}
                <br><li><a class="btn" target="_blank" href="{{ recipe.source }}">GoTo Recipe Source</a></li>
            {% endif %}
        </ul>

    </div>
</div>

{% endblock %}
</body>
</html>