{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
{% load markdown_deux_tags %}

<html>
<body>
{% block title %}
{% endblock %}

{% block content %}

    <div class="hero-unit">
        <h1>{{ recipe.name }}</h1>
    </div>

    <div class="description">
        {% if recipe.description|length > 0 %}
            {% markdown %}
                {{ recipe.description }}
            {% endmarkdown %}
        {% endif %}
    </div>

    <div style="clear:both;"></div>

    <div class="row-fluid">
        <div class="span4">
            {% include "menu/recipe_details_ingredients.html" %}
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span9">
            <h3>Directions</h3>
            {% if user.is_superuser %}
                <a class="btn" href="{% url 'menu:edit_recipe' recipe.id %}">Edit &raquo;</a><br>
            {% endif %}
            <br>
            {% markdown %}
                {{ recipe.directions | safe }}
            {% endmarkdown %}
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span9">
            <h3>Comments</h3>
            {% if user.is_authenticated %}
                <div id="comments"></div>
                <h3 class="cap-header">Add Comment</h3>
                <form action="" method="post">
                {% csrf_token %}
                    {{ comment_form.comment }}
                    <input type=submit class="btn" value="Publish Comment &raquo;"/>
                </form>
                <br><br><hr>
            {% else %}
                You must be logged in to comment or rate.<br>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Sign Up</a>
                <hr>
            {% endif %}

            {% if recipe.comment_set.all %}
                {% for c in recipe.comment_set.all %}
                    <ul class="unstyled">
                        <li>{{ c.comment }}</li>
                        <li>{{ c.publishDate }}</li>
                    </ul>
                    {% if user.is_superuser %}
                        <a class="btn" href="{% url 'menu:comment_delete' c.id %}"
                           onclick="return confirm('Are you sure?')">Delete &raquo;</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block navsidebar %}
<div class="span3">
    <div class="well sidebar-nav">
        <ul>
            <li><b>Category</b>: {{ recipe.category }}</li>
            <li><b>Dish Type</b>: {{ recipe.dish_type }}</li>
            <li><b>Temp</b>: {{ recipe.temperature }}</li>
            <li><b>Prep Time</b>:
                {% if recipe.prep_time < 60 %}
                    {{ recipe.prep_time }} minute(s)</li>
                {% else %}
                    {{ recipe.prep_time|minutes_to_hours|floatformat:"1" }} hour(s)
                {% endif %}
            <li><b>Cook Time</b>:
                {% if recipe.cook_time < 60 %}
                    {{ recipe.cook_time }} minute(s)
                {% else %}
                    {{ recipe.cook_time|minutes_to_hours|floatformat:"1" }} hour(s)
                {% endif %}
            </li>
            <li><b>Servings</b>: {{ recipe.servings }}</li>
            {% if user.is_superuser %}
                <br><li><a class="btn" target="_blank" href="{{ recipe.source }}">GoTo Recipe Source</a></li>
            {% endif %}
        </ul>

    </div>
</div>

{% endblock %}
</body>
</html>
