{% load markdown_deux_tags %}
{% load menu_extras %}

{% block content %}



<h3>Ingredients</h3>

<div class="recipe_ingredients">
    {% for ingredient in recipe.ingredient_set.all %}
        <p>
            {{ ingredient.amount|show_integer }}{{ ingredient.amount|show_fraction }}
            {{ ingredient.unit }}
            {{ ingredient.name }}{% if ingredient.comment %}, {{ ingredient.comment }}
            {% endif %}
            {% if user.is_superuser %}
                <a class="btn" href="{% url 'menu:add_to_shopping_list' ingredient.id %}">+</a>
            {% endif %}
        </p>
    {% endfor %}
</div>
{% endblock %}

{% block navsidebar %}
{% endblock %}
