{% load menu_extras %}
<div id="aside">
    <h3>Ingredients</h3>
    {% if user.is_superuser %}
        <p><a class="btn" href="{% url 'menu:editingredients' recipe.id %}">Edit</a></p>
    {% endif %}
    <form action="{% url 'menu:addtoshoppinglist' recipe.id %}" method="post">

    {% csrf_token %}
        {% for i in recipe.ingredient_set.all %}
            <div class="ingredientList">
                {% if user.is_superuser %}
                    <input type="checkbox" value={{i.amount}} id={{i.id}} name={{i.id}}>
                {% endif %}
                {{i.amount|showinteger}}{{ i.amount|showfraction }} {{ i.unit }}
                {{ i.name }}{% if i.comment %}, {{ i.comment }}{% endif %}
            </div>
            <hr noshade>
        {% endfor %}
        <br><br>
        {% if user.is_superuser %}
            <input class="btn" type=submit value="Update Shopping List"><br>
        {% endif %}

    </form>
</div>