{% load markdown_deux_tags %}
{% load menu_extras %}

{% block content %}

<div class="hero-unit">
    <h2>Ingredients</h2>
</div>

{% if not recipe.ingredient_set.all %}
    No ingredients yet.
{% endif %}

{% for ingredient in recipe.ingredient_set.all %}
    <div class="ingredient_block">
        <div class="ingredient_details">
            {% if user.is_superuser %}
                <a class="right_tab_button" href="{% url 'menu:add_to_shopping_list' ingredient.id %}">+</a>
            {% endif %}
            {{ ingredient.amount|show_integer }}{{ ingredient.amount|show_fraction }}
            {{ ingredient.unit }}
            {{ ingredient.name }}{% if ingredient.comment %}, {{ ingredient.comment }}
            {% endif %}
        </div>
    </div>
{% endfor %}
<div style="clear:both;"></div>
<hr>
{% endblock %}

{% block navsidebar %}
{% endblock %}
