{% load markdown_deux_tags %}
{% load menu_extras %}

{% block content %}

<div class="container-fluid">
    <button type="button" class="btn" data-toggle="collapse" data-target=".newpost-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="newpost-collapse collapse">
        <form method="POST" action="">
            {% csrf_token %}
            {{ ingredient_form.id }}
            {{ ingredient_form.name.label }}: {{ ingredient_form.name }}<br>
            {{ ingredient_form.amount.label }}: {{ ingredient_form.amount }}<br>
            {{ ingredient_form.unit.label }}: {{ ingredient_form.unit }}<br>
            {{ ingredient_form.comment.label }}: {{ ingredient_form.comment }}
            {{ ingredient_form.sorting.label }}: {{ ingredient_form.sorting }}
            <p>
                <input class="btn" type="submit" value="Add &raquo;" id="submit"/>
            </p>
        </form>
    </div>
</div>

<hr noshade>

<h3>Ingredients</h3>
<div class="row-fluid">
    <div class="span12">
        {% for ingredient in recipe.ingredient_set.all %}
            <p>
                <!--{% if user.is_superuser %}-->
                    <!--<input type="checkbox" value={{ingredient.amount}} id={{ingredient.id}} name={{ingredient.id}}>-->
                <!--{% endif %}-->
                <b>{{ ingredient.name }} |</b>
                {{ ingredient.amount|showinteger }}{{ ingredient.amount|showfraction }} |
                {{ ingredient.unit }} |
                {{ ingredient.comment }} |
                <!--add a button here to increase or decrease ordering-->
                {% if user.is_authenticated %}
                    <a class="btn" href="{% url 'menu:edit_ingredient' ingredient.id %}">Edit &raquo;</a>
                {% endif %}
                {% if user.is_superuser %}
                    <a class="btn" href="{% url 'menu:add_to_shoppinglist' ingredient.id %}">Add to List &raquo;</a>
                    <!--<input class="btn" type=submit value="Add to Shopping List &raquo;"><br>-->
                {% endif %}
            </p>
            <hr noshade>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block navsidebar %}
{% endblock %}
