{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}}


<html>
<body>
{% block title %}
    <div id="title">
        Shopping List
    </div>
{% endblock %}

{% block content %}
    {% for entry in shopping_list_entries %}
        {{ entry.amount }} {{ entry.name }}
        <a class="btn" href="{% url 'menu:shopping_list_check_off' entry.shoppingListId %}">GOT &raquo;</a>
        <hr>
    {% endfor %}

    <hr><hr>
    {% for complete_entry in complete_shopping_list_entries %}
        <del>{{ complete_entry.amount }} {{ complete_entry.name }}</del>
        <a class="btn" href="{% url 'menu:add_to_shopping_list' complete_entry.ingredient_id %}">
            Return to List &raquo;</a>
        <a class="btn" href="">Archive &raquo;</a>
        <hr>
    {% endfor %}

{% endblock %}

{% block navsidebar %}
{% endblock %}
</body>
</html>
