{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}}


<html>
    <body>
        {% block title %}
            <div id="title">
                Shopping List
            </div>
        {% endblock %}
        {% block content %}
            <div id="content">
                <form method="POST" action="">
                {% csrf_token %}
                {{ formset.management_form }}
                    {% if formset %}
                        {% for form in formset %}
                            {{ form.shoppingListId }}
                            {{ form.status }}
                            {% if form.status == true %} <del> {% endif %}
                                {{form.amount}} {{ form.name }}
                            {% if form.status == true %} </del> {% endif %}
                            <hr noshade>
                        {% endfor %}
                    {% else %}
                        No items on shopping list
                    {% endif %}
                    <hr noshade>
                    <input type="submit" value="Update" id="submit"/>
                </form>
            </div>
        {% endblock %}
    </body>
</html>
