{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Upload Recipe</title>
	</head>
    <body>
        {% block title %}
            <div id="title">
                Recipe Upload
            </div>
        {% endblock %}
        {% block content %}
            <div id="aside"><!-- Upload form. Note enctype attribute! -->
                <h2>Upload Recipes Here</h2>
                <hr noshade><hr noshade>
                <form action="{% url 'menu:upload_recipe' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <p>csv file only</p>
                    <p>Format:<br>
                        <b>(no header row)</b><br>
                        name, category, temperature, directions, url, servings(integer),
                        prepTime(minutes, integer), cookTime(minutes, integer)</p>
                    <p>{{ form.non_field_errors }}</p>
                    <p>{{ form.docfile.label_tag }}
                    {{ form.docfile.help_text }}
                    {{ form.docfile.errors }}</p>

                    <p>{{ form.docfile }}</p>
                    <input type="submit" value="Upload Recipe" class="btn"/>
                </form>
            </div>

            <div id="content"><!-- Upload form. Note enctype attribute! -->
                <h2>Upload Ingredients Here</h2>
                <hr noshade><hr noshade>
                <form action="{% url 'menu:upload_ingredients' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <p>csv file only</p>
                    <p>Format:<br><b>(no header row)</b><br>recipe name, ingredient name, amount, units, comment</p>

                    <p>{{ form.non_field_errors }}</p>
                    <p>{{ form.docfile.label_tag }}
                    {{ form.docfile.help_text }}
                    {{ form.docfile.errors }}</p>

                    <p>{{ form.docfile }}</p>
                    <input type="submit" value="Upload Ingredients" class="btn"/>
                </form>
            </div>
        {% endblock %}
        {% block navsidebar %}
        {% endblock %}
	</body>
</html>
