{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
    {% if categoryrecipes %}
    <div class="hero-unit">
        <h1>{{ category.title }}</h1>
    </div>
    {% for recipe in categoryrecipes %}
        <div class="row-fluid">
            <div class="span12">
                <h3>{{ recipe.name }}</h3>
                {% if recipe.banner_image|length > 0 %}
                    <img src="{{ recipe.banner_image }}">
                {% endif %}
                <p>
                    {% if recipe.description|length > 0 %}
                        {% markdown %}
                            {{ recipe.description | safe | slice:":250" }}{% if recipe.description|length > 250 %}...{% endif %}
                        {% endmarkdown %}
                    {% endif %}
                </p>
                <p>Published: {{ recipe.publish_date }}</p><br>
                <p><a class="btn" href="{% url 'menu:recipe_details' recipe.id %}">View recipe details &raquo;</a></p>
                <hr>
            </div><!--/span-->
        </div>
    {% endfor %}
    {% else %}
        <p>There are no recipes in this category.</p>
    {% endif %}

{% endblock %}
