{% load staticfiles %}
{% load menu_extras %}
<div class="wrapper">
  <div id="addIngredientModal" class="modal">
    <div class="modal-container modal-toast">
      <div class="form-container-wrapper">
        <form class="form-container" method="POST" action="">
          <div class="form-title"><h2>Add Ingredient</h2></div>
          {% csrf_token %}
          {{ ingredient_form.id }}
          {{ ingredient_form.name }}<br>
          {{ ingredient_form.amount }}<br>
          {{ ingredient_form.unit }}<br>
          {{ ingredient_form.comment }}
          <div class="submit-container">
            <a id="cancel-ingredient-add" class="submit-button">Cancel</a>
            <input class="submit-button" type="submit" value="Add" />
          </div>
        </form>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
