{% include "stylesheets.html" %}
{% load staticfiles %}
{% load menu_extras %}

<html>
    <head>
        <title>{% block head_title %}Eatables{% endblock %}</title>
    </head>
    <body>
        {% block title %}This is the block title{% endblock %}
        <div>
            <a class="button" id="nav" href="{% url 'menu:index' %}">Home</a>
            <a class="button" id="nav" href="{% url 'menu:addrecipe' %}">Add Recipe</a>
            <a class="button" id="nav" href="{% url 'menu:uploadrecipe' %}">Upload Recipe</a>
            <a class="button" id="nav" href="{% url 'menu:shoppinglist' %}">View Shopping List</a>
            <a class="button" id="nav" href="{% url 'menu:archivedrecipes' %}">Archived Recipes</a>
            <a class="button" id="nav" href="{% url 'menu:fridge' %}">In the Fridge</a>
        </div><div style="clear:both"></div>

        {% block content %}
            There's no content here
        {% endblock %}
    </body>
</html>
