{% include "stylesheets.html" %}
{% load staticfiles %}
{% load menu_extras %}


<html>
<head>
<title>
    {% block head_title %}
        Eatables
    {% endblock %}
</title>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'menu:index' %}">Eatables, for Eating</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    {% if user.is_authenticated %}
                        Logged in as <a href="{% url 'menu:profile' user.username %}" class="navbar-link">{{ user.username }}</a>
                        <a href="{% url 'logout' %}?next={% url 'loggedout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </p>
                <ul class="nav">
                    <li class="active"><a href="{% url 'menu:index' %}">Home</a></li>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'menu:profile' user.username %}">Your Profile</a></li>
                        <li><a href="{% url 'menu:add_recipe' %}">Add Recipe</a></li>
                        <li><a href="{% url 'menu:shopping_list' %}">View Shopping List</a></li>
                        <li><a href="{% url 'menu:fridge' %}">In the Fridge</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span14">
            {% block content %}
                There's no content here
            {% endblock %}
        </div><!--/row-->

        {% block navsidebar %}
        {% endblock %}

    </div><!--/row-->
    <hr noshade>
    <footer>
        <p>&copy; Modle 2015</p>
    </footer>
</div><!--/.fluid-container-->

<script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-transition.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-alert.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-modal.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-scrollspy.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-tab.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-popover.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-button.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-collapse.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-typeahead.js' %}"></script>

</body>
</html>
