{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
<html>
<head>
<title>
  {% block head_title %}
    {% if recipe.name %}
      {{ recipe.name }} - Edit
    {% else %}
      New Recipe
    {% endif %}
  {% endblock %}
</title>
</head>
<body>
{% block content %}

{% for message in messages %}
  {% if message.tags == 'error' %}
    <p style="color:red; font-weight:bold;">{{ message }}</p>
  {% elif message.tags == 'info' %}
    <p style="color:black; font-weight:bold;">{{ message }}</p>
  {% endif %}
{% endfor %}

{% if recipe.name %}
  <div class="hero-unit"><h2>Edit Ingredients</h2></div>
  <div class="ingredients">
  {% for ingredient in recipe.ingredient_set.all %}
    <div class="ingredient_block">
      <div class="ingredient_details">
        {{ ingredient.amount|show_integer }}{{ ingredient.amount|show_fraction }}
        {{ ingredient.unit }}
        {{ ingredient.name }}{% if ingredient.comment %}, {{ ingredient.comment }}
        {% endif %}
        <a class="right_tab_button" href="{% url 'edit_ingredient' ingredient.id %}">
          <img style="margin-top: 5px;" src="{% static 'edit_recipe_icon'|generate_img_path %}" height="12em">
        </a>
        <a class="right_tab_button" href="{% url 'move_ingredient_up' ingredient.id %}">
          <img style="margin-top: 5px;" src="{% static 'chevron_sign_up'|generate_img_path %}" height="12em">
        </a>
        <a class="right_tab_button" href="{% url 'move_ingredient_down' ingredient.id %}">
          <img style="margin-top: 5px;" src="{% static 'chevron_sign_down'|generate_img_path %}" height="12em">
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
  <div style="clear:both;"></div>
{% else %}
  <div class="hero-unit"><h1>New Recipe</h1></div>
{% endif %}
<hr>

<div class="form-container-wrapper">
  <form class="form-container" method="POST" action="" name="recipe_form">
    <div class="form-title"><h2>Edit Recipe Details</h2></div>
    {% csrf_token %}
    {{ form.name.label }}<br>{{ form.name }}<br>
    {{ form.description.label }}<br>{{ form.description }}<br>
    {{ form.cook_method.label }}<br>{{ form.cook_method }}<br>
    {{ form.dish_type.label }}<br>{{ form.dish_type }}<br>
    {{ form.temperature.label }}<br>{{ form.temperature }}<br>
    {{ form.prep_time.label }}<br>{{ form.prep_time }}<br>
    {{ form.cook_time.label }}<br>{{ form.cook_time }}<br>
    {{ form.servings.label }}<br>{{ form.servings }}<br>
    {{ form.directions.label }}<br>{{ form.directions }}<br>
    {{ form.source.label }}<br>{{ form.source }}<br>
    <div class="submit-container">
      {% if recipe.id != null %}
        <a class="submit-button" href="{% url 'recipe_details' recipe.id %}">Cancel</a>
      {% else %}
        <a class="submit-button" href="{% url 'profile' %}">Cancel</a>
      {% endif %}
      <input class="submit-button" type="submit" value="Update &raquo;"/>
    </div>
  </form>
</div>

{% endblock %}
</body>

<script type="text/javascript" src="{% static 'menu/js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script>

</html>
