{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
{% load markdown_deux_tags %}

{% block content %}
{% if user.is_superuser %}

<h3>Your Recipes</h3>
{% for recipe in recipes %}
<div class="recipe_block notSelectable" id="{{ recipe.id }}">
  <span class="recipe_title notSelectable">{{ recipe.name }}</span>
  <img src="{% static recipe.get_dish_type_display|generate_img_path %}" height="10em">
</div>
{% endfor %}


<hr noshade> {% endif %}

<h3>Your Notes</h3>
{% for comment in comments %}
  <div class="recipe_block notSelectable" id="{{ comment.recipe.id }}">
    <p><span class="recipe_title notSelectable">{{ comment.recipe.name }}</span><br>{{ comment.publishDate }}<br> {{ comment.comment
      }}
  </div>
<hr>
{% endfor %}
{% endblock %}
