{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
{% load markdown_deux_tags %}

{% block head_title %}
  {{ recipe.name }} - Details
{% endblock %}
{% block content %}

<!-- ADD INGREDIENT TOAST-->
<div class="wrapper">
  <div id="addIngredientModal" class="modal">
    <div class="modal-container modal-toast">
      {% include "add_ingredient.html" %}    
    </div>
  </div>
</div>

<div class="hero-unit">
  <h1>{{ recipe.name }}</h1>
</div>

<!-- ACTION BUTTONS -->
{% if user.is_superuser %}
<div id="edit_recipe">
  <div id="add-ingredient-button" class="fixed-action-btn" style="bottom: 72px; right: 24px;">
    <a class="btn-floating green">
      <f class="large material-icons"><img style="margin-top: 5px;" src="{% static 'add_ingredient_icon'|generate_img_path %}" height="25em"></f>
    </a>
  </div>
</div>
<div onclick="location.href='{% url 'edit_recipe' recipe.id %}'">
  <div id="edit-button" class="fixed-action-btn" style="bottom: 24px; right: 24px;">
    <a class="btn-floating blue">
      <f class="large material-icons"><img style="margin-top: 5px;" src="{% static 'edit_recipe_icon'|generate_img_path %}" height="25em"></f>
    </a>
  </div>
</div>
{% endif %}


<div class="recipe_header gray_background">
  <div class="recipe_description">
    {% if recipe.description|length > 0 %}
      {% markdown %}
        {{ recipe.description }}
      {% endmarkdown %}
    {% endif %}
  </div>

  <div class="recipe_info">
    <ul>
      <li><b>Cook Method</b>: {{ recipe.get_cook_method_display }}</li>
      <li><b>Dish Type</b>: {{ recipe.get_dish_type_display }}</li>
      <li><b>Temp</b>: {{ recipe.temperature }}</li>
      <li><b>Prep Time</b>:
        {% if recipe.prep_time < 60 %}
          {{ recipe.prep_time }} minute(s)</li>
        {% else %}
          {{ recipe.prep_time|minutes_to_hours|floatformat:"1" }} hour(s)
        {% endif %}
      <li><b>Cook Time</b>:
        {% if recipe.cook_time < 60 %}
          {{ recipe.cook_time }} minute(s)
        {% else %}
          {{ recipe.cook_time|minutes_to_hours|floatformat:"1" }} hour(s)
        {% endif %}
      </li>
      <li><b>Servings</b>: {{ recipe.servings }}</li>
      {% if user.is_superuser %}
        <li><a class="" target="_blank" href="{{ recipe.source }}">GoTo Recipe Source</a></li>
      {% endif %}
    </ul>
  </div>
  <div style="clear:both;"></div>
</div>

{% include "recipe_details_ingredients.html" %}

<div class="recipe_directions">
  <div class="hero-unit">
    <h2>Directions</h2>
  </div>
  {% markdown %}
    {{ recipe.directions | safe }}
  {% endmarkdown %}
</div>
<hr>
<div class="recipe_notes">
  <div class="hero-unit">
    <h2>Notes</h2>
  </div>
  {% if user.is_authenticated %}
    <div id="comments"></div>
    <form action="" method="post" class="form">
    {% csrf_token %}
      {{ comment_form.comment }}
      <br>
      <input type=submit class="btn" value="Save &raquo;"/>
      <div style="clear:both;"></div>
    </form>
    <hr>
  {% else %}
    You must be logged in to comment or rate.<br>
    <a href="{% url 'login' %}">Login</a>
    <hr>
  {% endif %}

  {% if recipe.comment_set.all %}
    {% for c in recipe.comment_set.all %}
      <ul class="unstyled">
        <li>{{ c.comment }}</li>
        <li>{{ c.publishDate }}</li>
      </ul>
      {% if user.is_superuser %}
        <a class="btn" href="{% url 'comment_delete' c.id %}"
          onclick="return confirm('Are you sure?')">&#x2718;</a>
      {% endif %}
      <hr>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
