{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}}

<html>
<body>
{% block title %}
  <div id="title">
    Shopping List
  </div>
{% endblock %}

{% block content %}
  {% for entry in shopping_list_entries %}
    {% if not entry.completed %}
      <div class="item_block">
        <a class="pretty_button item_complete" href="{% url 'shopping_list_check_off' entry.shoppingListId %}">&#x2714;</a>
        <div class="title_base item_title">{{ entry.amount }} {{ entry.name }}</div>
        <a class="pretty_button item_delete" href="{% url 'shopping_list_delete' entry.shoppingListId %}">&#x2718;</a>
        <div style="clear:both;"></div>
      </div>
    {% endif %}
  {% endfor %}

  <hr>
  {% for entry in shopping_list_entries %}
    {% if entry.completed %}
      <div class="item_block">
        <a class="pretty_button item_complete" id="{{ entry.ingredient_id }}" onClick="add_to_shopping_list(this.id)">&#x21b0;</a>
        <div class="title_base item_complete_title">{{ entry.amount }} {{ entry.name }}</div>
        <a class="pretty_button item_delete" href="{% url 'shopping_list_delete' entry.shoppingListId %}">&#x2718;</a>
        <div style="clear:both;"></div>
      </div>
    {% endif %}
  {% endfor %}

{% endblock %}
</body>
</html>
