{% load staticfiles %}
<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/css/jquery-ui.structure.css' %}" />
<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/css/jquery-ui.theme.css' %}" />
<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/css/style.css' %}" />
<link rel="stylesheet" type="text/css" media="only screen" href="{% static 'menu/css/datepicker.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
